body {
    margin:0px;

}

.main-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 2fr 0.5fr;
}

/* *************** Header box ***************** */
header h1 {
  display: flex;
  justify-content: center;
}

header ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

header li {
  margin: 20px;
}

ul {
  list-style-type: none;
}

/* *************** First Main Body ***************** */
main.pt1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: lightgray;
  background-image: ;
}

main.pt1 h2 {
  margin-top: 50px;
  grid-column: 2;
}

main.pt1 p {
  grid-column: 2;
}

main.pt1 button {
  grid-column: 2;
  height: 50px;
  width: 100px;
}

/* *************** Second Main Body **************** */
main.pt2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

main.pt2 section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

main.pt2 section div.img {
  margin: 0px;
  padding: 0px;
  background-color: orange;
  border: 1px solid black;
  height: 250px;
  width: 250px;
}

/* *************** Footer/Socials **************** */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: darkslategray;
}

footer div button {
  height: 50px;
  width: 50px;
}

footer div.buttons {
  grid-column: 2;
  display: flex;
  justify-content: space-around;
}

footer button.social {
  display: flex;
  flex-flow: row nowrap;
}
